@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'popins',sans-serif;
} */
